<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layouts/base-layout}">
<head>
    <title>Profile</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container" th:object="${user}">
        <div class="row">
            <div th:if="*{avatarMediaItemId}">
                <img width="200px" height="200px" th:src="@{'/api/v1/media-items/file/' + *{avatarMediaItemId}}">
                <form th:action="@{/users/{userId}/avatar/delete(userId=*{id})}" method="post">
                    <button type="submit" class="btn btn-danger mt-3">Remove avatar</button>
                </form>
            </div>
            <div th:unless="*{avatarMediaItemId}">
                <img width="200px" height="200px" src="/images/avatar-default.jpg">
            </div>
        </div>
        <hr class="my-4">
        <form th:action="@{/users/update}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" th:value="*{username}">
                </div>

                <div class="col-6">
                    <label for="firstname" class="form-label">Firstname:</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" th:value="*{firstname}">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="lastname" class="form-label">Lastname:</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" th:value="*{lastname}">
                </div>

                <div class="col-6">
                    <label for="birthDate" class="form-label">BirthDate:</label>
                    <input type="date" class="form-control" id="birthDate" name="birthDate" th:value="*{birthDate}">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h4 class="mb-3">Gender:</h4>
                    <div class="form-check" th:each="gender : ${genders}">
                        <input name="gender"
                               type="radio"
                               class="form-check-input"
                               th:id="${gender}"
                               th:value="${gender}"
                               th:checked="${gender == user.gender}">
                        <label class="form-check-label" th:for="${gender}" th:text="${gender}">gender</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="image" class="form-label">Set Avatar</label>
                    <input class="form-control" type="file" id="image" name="image">
                </div>
            </div>

            <button class="w-100 btn btn-primary btn-lg mt-3" type="submit">Update</button>
        </form>
        <hr class="my-4">
        <div class="row">
            <form th:action="@{/users/change-password}" method="post">
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="username" class="form-label">Old Password:</label>
                        <input type="text" class="form-control" id="oldPassword" name="oldPassword">
                    </div>
                    <div class="col-6">
                        <label for="firstname" class="form-label">New Password:</label>
                        <input type="text" class="form-control" id="newPassword" name="newPassword">
                    </div>
                    <p class="alert alert-danger mt-3" th:if="${passwordError}" th:text="${passwordError}"></p>
                </div>

                <button class="w-100 btn btn-primary btn-lg" type="submit">Change Password</button>
            </form>
        </div>

        <hr class="my-4">
        <form th:action="@{/users/{userId}/delete(userId=*{id})}" method="post">
            <button class="w-100 btn btn-danger btn-lg" type="submit">Delete Account</button>
        </form>
        <hr class="my-4">
        <div th:if="${errors}">
            <p class="alert alert-danger"
               style="color: red"
               th:each="error : ${errors}"
               th:text="${error.defaultMessage}"
            >Error message</p>
        </div>
    </div>
</section>
</body>
</html>
